/* Color scheme Red
----------------------------------------------- */
body a,
body .site-title a,
body .post-entry .post-entry-headline a {
  color: #cd2324;                   
}
body .menu-box,
body .menu-box ul ul,
body .top-navigation ul ul {
  border-color: #cd2324;               
}
body #header .menu-box .current-menu-item > a,
body #header .menu-box .current-menu-ancestor > a,
body #header .menu-box .current_page_item > a,
body #header .menu-box .current-page-ancestor > a,
.home #container #header .menu-box .link-home,
body .post-entry .read-more-button:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #searchform .searchform-wrapper .send:hover {
  background-color: #cd2324;                                   
}
body .sidebar-widget a {
  color: #e65757;                  
}
body .post-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body #searchform .searchform-wrapper .send {
  background-color: #e65757;                                   
}
body #footer a,
body .footer-signature .footer-signature-content a {
  color: #f3a0a0;                     
}